.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./images/pozadina.png);
    background-size: contain;
    color: rgb(255, 255, 255);
  }
  
  .login-form, .login-form-container{
    display: flex;
    flex-direction: column;
  }
  
  .login-form-container {
    max-width: min-content;
    min-width: 15%;
    padding: 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    max-height: 90%;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    color: #000000;
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
    margin-top: 0.75rem;
  }
  
  input {
    background-color: #ffd6d6;
    padding: 6px;
    border-radius: 5px;
    margin: 0.25rem 0;
    max-height: 2rem;
  }
  
  button {
    margin: 0.75rem 0;
    border: #d71c1c;
    background-color: #ffd6d6;
    padding: 8px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
  }
  
  .login-button {
    margin-top: 1rem;
    background-color: #e52a30;
    border-radius: 7px;
    min-width: 6rem;
  }
  
  .heading {
    font-weight: 100;
  }
  
  .user-list {
    background-color: #600000;
    border-radius: 10px;
    margin: 38px;
    justify-content: center;
  }
  
  .logo {
    max-width: 15rem;
    height: auto;
    margin: auto;
    margin-bottom: 1rem;
    display: block;
  }
  
  .sidebar {
    justify-content: left;
    background-color: #600000;
    width: 20rem;
  }
  
  .my-list-group {
    cursor: pointer;
    background-color: #600000;
    padding: 1rem 0;
  }
  
  .my-list-group-item {
    padding: 0.5rem 0;
    font-size: larger;
    background-image: linear-gradient(20deg, #9a0000, #600000 100%);
  }
  
  .my-list-group-item-active {
    padding: 0.5rem 0;
    font-size: larger;
    background-color: #e52a30;
    color: #000000;
  }
  
  .info-text {
    font-weight: 200;
  }
  
  .link {
    color:#d71c1c;
    margin-top: 1.5rem;
    text-underline-offset: 2px;
    cursor: pointer;
  }
  
  .registration-form {
    margin-top: 2rem;
  }
  
  .registration-attributes {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  
  .registration-inputs {
    display: flex;
    flex-direction: column;
    max-width: 12rem;
    justify-content: space-between;
    margin-top: 0.7rem;
    margin-left: 1rem;
  }
  
  .registration-labels {
    display: flex;
    flex-direction: column;
    align-items:end;
  }
  
  .registration-button {
    min-width:100%;
  }
  
  .registration-label {
    min-width: max-content;
  }
  
  .registration-info {
    font-size: 15px;
    color: #d71c1c;
    display: flex;
    margin-top: 1rem;
  }

  .background{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./images/pozadina.png);
    background-size: contain;
    color: rgb(255, 255, 255);
  }

  .team-rectangle {
    display: flex;
    width: 10rem;
    height: 8rem;
    padding: 5rem;
    border-radius: 7px;
    background-color: #600000;
    margin: 0.5rem;
  }

  .teams-container {
    display: flex;
    flex-direction: column;
  }

  .teams-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .team-active {
    cursor: pointer;
    background-color: #ff7268;
  }

  .team-inactive {
    background-color: #b19a9a;
  }